*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Heebo', sans-serif
}
#header{
    width: 99vw;
    height: 10vh;
    display: inline-flex;
    justify-content: space-between;
}
#logo{
    cursor: pointer;
    height: 8vh;
    align-self: center;
    margin-left: 2vw;
}
#navArea{
    display: inline-flex;
    width: 25vw;
    justify-content: space-around;
    align-self: center;
}
[id$='Nav']{
    cursor: pointer;
    font-size: 1.2em;
}
#content{
    background-color: #e0e0e0;
}
#text{
    width: 25vw;
    display: inline-flex;
    flex-direction: column;
}
#menuButton{
    width: fit-content;
}